@model IEnumerable<SGVisitasTecnicasASPCore.Models.unidades>

@{
    ViewData["Title"] = "Gestión de Unidades";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SortModel sortModel = (SortModel)ViewData["sortModel"];

    PagerModel pager = ViewBag.Pager;
}

<hr />
<h4 class="text-center text-primary">Gestión de Unidades</h4>
<hr />
<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-action="Create">Nueva Unidad</a>
    </p>
    <div class="row">
        <div class="col-12">
            <partial name="_topBar" model="@pager" />
        </div>
    </div>
    <section id="no-more-tables" style="padding-top: 0;">
        <table class="table-bordered table-striped table-condensed" style="width: 100%;">
            <thead class="text-center">
                <tr>
                    <th>
                        <i class="@sortModel.GetColumn("Nombre").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Nombre").SortExpression">
                            Nombre
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Descripción").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Descripción").SortExpression">
                            Descripción
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Nombre">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td data-title="Descripción">
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.id_unidad">
                                    <span class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.id_unidad">
                                    <span class="btn btn-sm btn-outline-dark">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.id_unidad">
                                    <span class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div class="row">
        <div class="col-12">
            <partial name="_bottomBar" model="@pager" />
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("myModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');

        }

        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg) {
                openSuccessModal(msg);

            }

        });

    </script>
}