@model SGVisitasTecnicasASPCore.Models.cotizaciones

@{
    ViewData["Title"] = "Detalles de la Cotización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h4 class="text-center text-primary">Detalles de la Cotización</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="id_cotizacion" class="control-label">Código</label>
                    <input asp-for="id_cotizacion" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="id_cliente" class="control-label">Cliente</label>
                    <div style="display: inherit;">
                        <select asp-for="id_cliente" class="form-control" asp-items="ViewBag.clientes" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="servicio" class="control-label">Servicio</label>
                    <div style="display: inherit;">
                        <select asp-for="servicio" class="form-control" asp-items="new SelectList(Enum.GetValues(typeof(SGVisitasTecnicasASPCore.Models.cotizaciones.Service)))" disabled="disabled"><option>----Seleccione un servicio----</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="codigo" class="control-label">Número Cotización</label>
                    <input asp-for="codigo" class="form-control" />
                    <span asp-validation-for="codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sector_inmueble" class="control-label">Sector Inmueble</label>
                    <input asp-for="sector_inmueble" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="direccion_inmueble" class="control-label">Dirección Inmueble</label>
                    <input asp-for="direccion_inmueble" class="form-control" readonly />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="fecha_registro" class="control-label">Fecha de Registro</label>
                    <input asp-for="fecha_registro" type="text" class="form-control" value="@Model.fecha_registro.ToString("yyyy-MM-dd HH:mm:ss")" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="fecha_actualizacion" class="control-label">Fecha de Actualización</label>
                    <input asp-for="fecha_actualizacion" type="text" class="form-control" value="@Model.fecha_actualizacion.ToString("yyyy-MM-dd HH:mm:ss")" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="telefono" class="control-label">Teléfono</label>
                    <input asp-for="telefono" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="id_empleado" class="control-label">Empleado</label>
                    <div style="display: inherit;">
                        <select asp-for="id_empleado" class="form-control" asp-items="ViewBag.empleados" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="estado" class="control-label">Estado</label>
                    <div style="display: inherit;">
                        <select asp-for="estado" class="form-control" asp-items="new SelectList(Enum.GetValues(typeof(SGVisitasTecnicasASPCore.Models.cotizaciones.Status)))" disabled="disabled"><option>----Seleccione un estado----</option></select>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <p class="text-center text-secondary">De acuerdo con la visita realizada, cotizamos los siguientes elementos y/o accesorios:</p>
                <br />
                <div class="table-responsive">
                    <table id="DetCtzTable" class="table table-bordered table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th style="display:none;">
                                    Ubicación
                                </th>
                                <th>
                                    Marca
                                </th>
                                <th>
                                    Unidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Valor Unitario
                                </th>
                                <th>
                                    Porcentaje Descuento
                                </th>
                                <th>
                                    Valor Total
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DetallesCotizacion.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <select id='cmbProductos-@i' asp-for="@Model.DetallesCotizacion[i].codigoProducto" class="form-control" asp-items="ViewBag.productos" style="width: auto;" disabled></select>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].descripcion" class="form-control" readonly />
                                    </td>
                                    <td style="display:none;">
                                        <input asp-for="@Model.DetallesCotizacion[i].ubicacion" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].marca" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].unidad" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].cantidad" class="form-control-plaintext" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].valorUnitario" class="form-control-plaintext" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].descuento" class=" form-control form-control-plaintext" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.DetallesCotizacion[i].valorTotal" class="form-control-plaintext" readonly />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="tiempo_entrega" class="control-label">Tiempo de Entrega</label>
                    <input asp-for="tiempo_entrega" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="instalacion" class="control-label">Instalación</label>
                    <input asp-for="instalacion" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="garantia_equipos" class="control-label">Garantía de Equipos</label>
                    <input asp-for="garantia_equipos" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="forma_pago" class="control-label">Forma de Pago</label>
                    <input asp-for="forma_pago" class="form-control" readonly />
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="subtotal" class="control-label">Subtotal</label>
                    <input asp-for="subtotal" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="validez" class="control-label">Validez</label>
                    <input asp-for="validez" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="observaciones" class="control-label">Observaciones</label>
                    <input asp-for="observaciones" class="form-control" readonly />
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col text-center">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id_cotizacion }, new { @class = "btn btn-primary" })
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
