@model SGVisitasTecnicasASPCore.Models.cotizaciones

@{
    ViewData["Title"] = "Editar Cotización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .CodesTable table {
        width: 100%
    }

    .CodesTable thead {
        width: calc(100%-1em);
    }
    /*    .CodesTable tbody {display:block; height:140px; overflow-y:auto; overflow-x:hidden;}
    .CodesTable thead, .CodesTable tbody tr{display:table; width:97%; table-layout:fixed;}
    .CodesTable thead, .CodesTable tbody, .CodesTable td{border:none !important;}*/
</style>

<hr />
<h4 class="text-center text-primary">Editar Cotización</h4>
<hr />

<form id="CotizacionForm" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">
        <div class="row">
            <input asp-for="id_cotizacion" type="hidden" />
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="nombre_cliente" class="control-label"></label>
                    <input asp-for="nombre_cliente" class="form-control" />
                    <span asp-validation-for="nombre_cliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sector_inmueble" class="control-label"></label>
                    <input asp-for="sector_inmueble" class="form-control" />
                    <span asp-validation-for="sector_inmueble" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="direccion_inmueble" class="control-label"></label>
                    <input asp-for="direccion_inmueble" class="form-control" />
                    <span asp-validation-for="direccion_inmueble" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fecha_registro" class="control-label"></label>
                    <input asp-for="fecha_registro" id="datepicker" type="text" class="form-control" value="@Model.fecha_registro.ToString("yyyy-MM-dd")" readonly />
                    <span asp-validation-for="fecha_registro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="telefono" class="control-label"></label>
                    <input asp-for="telefono" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="empleado_id" class="control-label"></label>
                    <div style="display: inherit;">
                        <select asp-for="empleado_id" asp-items="ViewBag.empleados"></select>
                    </div>
                    <span asp-validation-for="empleado_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="estado" class="control-label"></label>
                    <div style="display: inherit;">
                        @Html.DropDownListFor(model => model.estado, new SelectList(Enum.GetValues(typeof(SGVisitasTecnicasASPCore.Models.cotizaciones.Status))), "Seleccione un estado")
                    </div>
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <p class="text-center text-secondary">De acuerdo con la visita realizada, cotizamos los siguientes elementos y/o accesorios:</p>
                <br />
                <div class="table-responsive bg-light">
                    <table id="DetCtzTable" class="table table-hover table-sm CodesTable">
                        <thead>
                            <tr>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Ubicación
                                </th>
                                <th>
                                    Marca
                                </th>
                                <th>
                                    Unidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Valor Unitario
                                </th>
                                <th>
                                    Valor Total
                                </th>
                                <th>
                                    <button id='btnAddCtzDetails' type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Agregar</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DetallesCotizacion.Count; i++)
                            {
                            <tr>
                                <td>
                                    <input asp-for="@Model.DetallesCotizacion[i].descripcion" class="form-control" />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].descripcion, new { htmlAttributtes = new { @class = "form-control" } })*@
                                    <br /><span asp-validation-for="@Model.DetallesCotizacion[i].descripcion" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.DetallesCotizacion[i].ubicación" class="form-control" />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].ubicación, new { htmlAttributtes = new { @class = "form-control" } })*@
                                    <br /><span asp-validation-for="@Model.DetallesCotizacion[i].ubicación" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.DetallesCotizacion[i].marca" class="form-control" />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].marca, new { htmlAttributtes = new { @class = "form-control" } })*@
                                    <br /><span asp-validation-for="@Model.DetallesCotizacion[i].marca" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.DetallesCotizacion[i].unidad" class="form-control" />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].unidad, new { htmlAttributtes = new { @class = "form-control" } })*@
                                    <br /><span asp-validation-for="@Model.DetallesCotizacion[i].unidad" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.DetallesCotizacion[i].cantidad" class="form-control detCtzCantidad" />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].cantidad, new { htmlAttributtes = new { @class = "form-control" } })*@
                                    <br /><span asp-validation-for="@Model.DetallesCotizacion[i].cantidad" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.DetallesCotizacion[i].valorUnitario" class=" form-control detCtzValUnit" />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].valorUnitario, new { htmlAttributtes = new { @class = "form-control" } })*@
                                    <br /><span asp-validation-for="@Model.DetallesCotizacion[i].valorUnitario" class="text-danger"></span>
                                </td>
                                <td>
                                    @*<input type="hidden" asp-for="@Model.DetallesCotizacion[i].IsDeleted" />*@
                                    <input asp-for="@Model.DetallesCotizacion[i].valorTotal" class="form-control-plaintext detCtzValTotal" readonly />
                                    @*@Html.EditorFor(x => x.DetallesCotizacion[i].valorTotal, new { htmlAttributtes = new { @class = "form-control CtzValorTotal", @readonly = "readonly" } })*@
                                </td>
                                <td>
                                    @*<button id='btnDummy-@i' type="button" class="btn btn-sm invisible">Dummy</button>*@
                                    <button id='btnRemove-@i' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">Eliminar</button>
                                    @*@Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                    @*@Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="tiempo_entrega" class="control-label"></label>
                    <input asp-for="tiempo_entrega" class="form-control" />
                    <span asp-validation-for="tiempo_entrega" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="instalacion" class="control-label"></label>
                    <input asp-for="instalacion" class="form-control" />
                    <span asp-validation-for="instalacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="garantia_equipos" class="control-label"></label>
                    <input asp-for="garantia_equipos" class="form-control" />
                    <span asp-validation-for="garantia_equipos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="forma_pago" class="control-label"></label>
                    <input asp-for="forma_pago" class="form-control" />
                    <span asp-validation-for="forma_pago" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label asp-for="subtotal" class="control-label"></label>
                    <input asp-for="subtotal" class="form-control" id="subtotalCtz" readonly />
                    <span asp-validation-for="subtotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="validez" class="control-label"></label>
                    <input asp-for="validez" class="form-control" />
                    <span asp-validation-for="validez" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="observaciones" class="control-label"></label>
                    <input asp-for="observaciones" class="form-control" />
                    <span asp-validation-for="observaciones" class="text-danger"></span>
                </div>
            </div>

            <div class="w-100">
                <div class="col-sm-12 col-md-12 text-center form-group">
                    <input type="submit" value="Guardar" class="col-md-5 btn btn-info" />
                    <a class="col-md-5 btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/jquery/jquery-ui.css">
    <script src="~/lib/jquery/jquery-1.12.4.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

}
