@model IEnumerable<SGVisitasTecnicasASPCore.Models.cotizaciones>

@{
    ViewData["Title"] = "Gestión de Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SortModel sortModel = (SortModel)ViewData["sortModel"];

    PagerModel pager = ViewBag.Pager;
}

<hr />
<h4 class="text-center text-primary">Gestión de Cotizaciones</h4>
<hr />
<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-action="Create">Nueva Cotización</a>
    </p>
    <div class="row">
        <div class="col-12">
            <partial name="_topBar" model="@pager" />
        </div>
    </div>
    <section id="no-more-tables" style="padding-top: 0;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <i class="@sortModel.GetColumn("Código").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Código").SortExpression">
                            Código
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Servicio").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Servicio").SortExpression">
                            Servicio
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Sector del Inmueble").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Sector del Inmueble").SortExpression">
                            Sector del Inmueble
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Dirección del Inmueble").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Dirección del Inmueble").SortExpression">
                            Dirección del Inmueble
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Fecha de Registro").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Fecha de Registro").SortExpression">
                            Fecha de Registro
                        </a>
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Empleado
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Tiempo de Entrega
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Código">
                            @Html.DisplayFor(modelItem => item.codigo)
                        </td>
                        <td data-title="Servicio">
                            @Html.DisplayFor(modelItem => item.servicio)
                        </td>
                        <td data-title="Sector del Inmueble">
                            @Html.DisplayFor(modelItem => item.sector_inmueble)
                        </td>
                        <td data-title="Dirección del Inmueble">
                            @Html.DisplayFor(modelItem => item.direccion_inmueble)
                        </td>
                        <td data-title="Fecha de Registro">
                            @Html.DisplayFor(modelItem => item.fecha_registro)
                        </td>
                        <td data-title="Cliente">
                            @Html.DisplayFor(modelItem => item.Cliente.nombres)
                        </td>
                        <td data-title="Empleado">
                            @Html.DisplayFor(modelItem => item.Empleado.nombres)
                        </td>
                        <td data-title="Teléfono">
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td data-title="Estado">
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        <td data-title="Tiempo de entrega">
                            @Html.DisplayFor(modelItem => item.tiempo_entrega)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.id_cotizacion">
                                    <span class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.id_cotizacion">
                                    <span class="btn btn-sm btn-outline-dark">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.id_cotizacion">
                                    <span class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div class="row">
        <div class="col-12">
            <partial name="_bottomBar" model="@pager" />
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("myModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');

        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg) {
                openSuccessModal(msg);

            }

        });

    </script>
}