@model IEnumerable<SGVisitasTecnicasASPCore.Models.ventas>

@{
    ViewData["Title"] = "Gestión de Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SortModel sortModel = (SortModel)ViewData["sortModel"];

    PagerModel pager = ViewBag.Pager;
}

<hr />
<h4 class="text-center text-primary">Gestión de Ventas</h4>
<hr />
<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-action="Create">Nueva Venta</a>
    </p>
    <div class="row">
        <div class="col-12">
            <partial name="_topBar" model="@pager" />
        </div>
    </div>
    <section id="no-more-tables" style="padding-top: 0;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <i class="@sortModel.GetColumn("Código de Venta").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Código de Venta").SortExpression">
                            Código
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Número de Factura").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Número de Factura").SortExpression">
                            Número de Factura
                        </a>
                    </th>
                    <th class="text-center">
                        <i class="@sortModel.GetColumn("Fecha de Creación").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Fecha de Creación").SortExpression">
                            Fecha de Creación
                        </a>
                    </th>
                    <th class="text-center">
                        <i class="@sortModel.GetColumn("Fecha de Cierre").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Fecha de Cierre").SortExpression">
                            Fecha de Cierre
                        </a>
                    </th>
                    <th class="text-center">
                        Estado
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th>
                        Iva
                    </th>
                    <th>
                        Total
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.id_venta)
                            </td>*@
                        <td data-title="Código">
                            @Html.DisplayFor(modelItem => item.codigo_venta)
                        </td>
                        <td data-title="Número Factura">
                            @Html.DisplayFor(modelItem => item.numero_factura)
                        </td>
                        <td data-title="Fecha de Creación" class="text-center">
                            @Html.DisplayFor(modelItem => item.fecha_creacion)
                        </td>
                        <td data-title="Fecha de Cierre" class="text-center">
                            @Html.DisplayFor(modelItem => item.fecha_cierre)
                        </td>
                        <td data-title="Estado" class="text-center">
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        <td data-title="Cliente">
                            @Html.DisplayFor(modelItem => item.Cliente.nombres)
                        </td>
                        <td data-title="Subtotal">
                            @Html.DisplayFor(modelItem => item.subtotal)
                        </td>
                        <td data-title="Iva">
                            @Html.DisplayFor(modelItem => item.Iva)
                        </td>
                        <td data-title="Total">
                            @Html.DisplayFor(modelItem => item.total)
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.id_venta">
                                    <span class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.id_venta">
                                    <span class="btn btn-sm btn-outline-dark">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.id_venta">
                                    <span class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div class="row">
        <div class="col-12">
            <partial name="_bottomBar" model="@pager" />
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("myModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');

        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg) {
                openSuccessModal(msg);

            }

        });

    </script>
}
