@model SGVisitasTecnicasASPCore.Models.productos

@{
    ViewData["Title"] = "SGVT - Eliminar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Eliminar Producto</title>
</head>
<body>

    <h3 class="text-center">Usted está seguro de borrar este producto?</h3>
    <div>
        <h4 class="text-center text-primary">Eliminar Producto</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <dl class="row">
                        <dt>
                            @Html.DisplayNameFor(model => model.id_producto)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.id_producto)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.marca)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.marca)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ImageName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ImageName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.unidad)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.unidad)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.cantidad)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.cantidad)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.precioUnitario)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.precioUnitario)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.stock)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.stock)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.descuento)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.descuento)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.porcentaje)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.porcentaje)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.categoria_id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.categoria_id)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <form asp-action="Delete">
            <div class="row">
                <div class="col text-center">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
                <div class="col text-center">
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
