@model IEnumerable<SGVisitasTecnicasASPCore.Models.productos>

@{
    ViewData["Title"] = "Gestión de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SortModel sortModel = (SortModel)ViewData["sortModel"];

    PagerModel pager = ViewBag.Pager;

    int a = 0;
}

<hr />
<h4 class="text-center text-primary">Gestión de Productos</h4>
<hr />
<center>
    <div id="carouselExampleIndicators" class="carousel slide col-md-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            @foreach (var i in Model)
            {
                a++;
                var active = a == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <img class="d-block w-100" src="@Url.Content("~/image/"+i.ImageName)" alt="@i.nombre">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@i.nombre</h5>
                        <p>@i.id_marca</p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</center>
<div class="container">
    <p>
        <a class="btn btn-primary" asp-action="Create">Nuevo Producto</a>
    </p>
    <div class="row">
        <div class="col-12">
            <partial name="_topBar" model="@pager" />
        </div>
    </div>
</div>
<section id="no-more-tables" style="padding-top: 0;">
    <table class="table-bordered table-striped table-condensed">
        <thead class="text-center">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.id_producto)
                    </th>*@
                <th>
                    <i class="@sortModel.GetColumn("Nombre").SortIcon" arial-hidden="true"></i>

                    <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Nombre").SortExpression">
                        Nombre
                    </a>
                </th>
                <th>
                    <i class="@sortModel.GetColumn("Marca").SortIcon" arial-hidden="true"></i>

                    <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Marca").SortExpression">
                        Marca
                    </a>
                </th>
                <th>
                    <i class="@sortModel.GetColumn("Descripción").SortIcon" arial-hidden="true"></i>

                    <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Descripción").SortExpression">
                        Descripción
                    </a>
                </th>
                <th>
                    Foto
                    @*@Html.DisplayNameFor(model => model.ImageName)*@
                </th>
                <th>
                    Unidad
                    @*@Html.DisplayNameFor(model => model.unidad)*@
                </th>
                <th>
                    Cantidad
                    @*@Html.DisplayNameFor(model => model.cantidad)*@
                </th>
                <th>
                    Precio Unitario
                    @*@Html.DisplayNameFor(model => model.precioUnitario)*@
                </th>
                <!--<th>
                    Stock-->
                    @*@Html.DisplayNameFor(model => model.stock)*@
                <!--</th>-->
                <th>
                    Descuento
                    @*@Html.DisplayNameFor(model => model.descuento)*@
                </th>
                <th>
                    Porcentaje
                    @*@Html.DisplayNameFor(model => model.porcentaje)*@
                </th>
                <th>
                    @*Categoría*@
                    @*@Html.DisplayNameFor(model => model.categoria_id)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.id_producto)
                        </td>*@
                    <td data-title="@Html.DisplayNameFor(model => model.nombre)">
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.Marca.nombre)">
                        @Html.DisplayFor(modelItem => item.Marca.nombre)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.descripcion)">
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.ImageName)">
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.Unidad.nombre)">
                        @Html.DisplayFor(modelItem => item.Unidad.nombre)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.cantidad)">
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.precioUnitario)">
                        @Html.DisplayFor(modelItem => item.precioUnitario)
                    </td>
                    @*<td data-title="@Html.DisplayNameFor(model => model.stock)">
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>*@
                    <td data-title="@Html.DisplayNameFor(model => model.descuento)">
                        @Html.DisplayFor(modelItem => item.descuento)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.porcentaje)">
                        @Html.DisplayFor(modelItem => item.porcentaje)
                    </td>
                    @*<td data-title="@Html.DisplayNameFor(model => model.Categoria.nombre)">
                        @Html.DisplayFor(modelItem => item.Categoria.nombre)
                    </td>*@
                    <td>
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.id_producto">
                                <span class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </span>
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.id_producto">
                                <span class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </a>

                        </div>
                        <!--@Html.ActionLink("Editar", "Edit", new { id = item.id_producto }, new { @class = "btn btn-warning" }) |-->
                        @*@Html.ActionLink("Detalles", "Details", new { id = item.id_producto }, new { @class = "btn btn-info" }) |*@
                        <!--@Html.ActionLink("Eliminar", "Delete", new { id = item.id_producto }, new { @class = "btn btn-danger" })-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<div class="row">
    <div class="col-12">
        <partial name="_bottomBar" model="@pager" />
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("myModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');

        }

        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg) {
                openSuccessModal(msg);

            }

        });

    </script>
}
