@model SGVisitasTecnicasASPCore.Models.clientes

@{
    ViewData["Title"] = "Detalles del Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
    <h4 class="text-center text-primary">Detalles del Cliente</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="table-responsive">
                <dl class="d-lg-table">
                    <dt>
                        Código
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.id_cliente)
                    </dd>
                    <dt>
                        Numero de Documento
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.numero_documento)
                    </dd>
                    <dt>
                        Nombres
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.nombres)
                    </dd>
                    <dt>
                        Apellidos
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.apellidos)
                    </dd>
                    <dt>
                        Fecha de Registro
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.fecha_registro)
                    </dd>
                    <dt>
                        Fecha de Actualización
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.fecha_actualizacion)
                    </dd>
                    <dt>
                        Género
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.genero)
                    </dd>
                    <dt>
                        Dirección
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.direccion)
                    </dd>
                    <dt>
                        Email
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>
                    <dt>
                        Password
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.password)
                    </dd>
                    <dt>
                        Número de Contacto
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.numero_contacto)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @Html.ActionLink("Editar", "Edit", new { id = Model.id_cliente }, new { @class = "btn btn-primary" })
        </div>
        <div class="col text-center">
            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
        </div>
    </div>
</div>
