@model IEnumerable<SGVisitasTecnicasASPCore.Models.visitas>

@{
    ViewData["Title"] = "Gestión de Visitas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SortModel sortModel = (SortModel)ViewData["sortModel"];

    PagerModel pager = ViewBag.Pager;
}

<hr />
<h4 class="text-center text-primary">Gestión de Visitas</h4>
<hr />
<div class="container-fluid">
    <p>
        <a class="btn btn-primary" asp-action="Create">Nueva Visita</a>
    </p>
    <div class="row">
        <div class="col-12">
            <partial name="_topBar" model="@pager" />
        </div>
    </div>
    <section id="no-more-tables" style="padding-top: 0;">
        <table class="table-bordered table-striped table-condensed" style="width: 100%;">
            <thead class="text-center">
                <tr>
                    <th>
                        <i class="@sortModel.GetColumn("Fecha Agendada").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Fecha Agendada").SortExpression">
                            Fecha de Agendamiento
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Fecha Cierre").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Fecha Cierre").SortExpression">
                            Fecha de Cierre
                        </a>
                    </th>
                    <th>
                        <i class="@sortModel.GetColumn("Descripcion").SortIcon" arial-hidden="true"></i>

                        <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("Descripcion").SortExpression">
                            Descripción
                        </a>
                    </th>
                    <th>
                        Problema
                    </th>
                    <th>
                        Instalación
                    </th>
                    <th>
                        Mantenimiento
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ubicacionDispSeguridad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tiempoEntrega)
                        </th>*@
                    <th>
                        Estado
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Empleado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td data-title="Código">
                                @Html.DisplayFor(modelItem => item.id_visita)
                            </td>*@
                        <td data-title="Fecha de Agendamiento">
                            @Html.DisplayFor(modelItem => item.fecha_agendada)
                        </td>
                        <td data-title="Fecha de Cierre">
                            @Html.DisplayFor(modelItem => item.fecha_cierre)
                        </td>
                        <td data-title="Descripción">
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td data-title="Problema">
                            @Html.DisplayFor(modelItem => item.esProblema)
                        </td>
                        <td data-title="Instalación">
                            @Html.DisplayFor(modelItem => item.requiereInstalacion)
                        </td>
                        <td data-title="Mantenimiento">
                            @Html.DisplayFor(modelItem => item.requiereMantenimiento)
                        </td>
                        @*<td data-title="@Html.DisplayNameFor(model => model.ubicacionDispSeguridad)">
                                @Html.DisplayFor(modelItem => item.ubicacionDispSeguridad)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.tiempoEntrega)">
                                @Html.DisplayFor(modelItem => item.tiempoEntrega)
                            </td>*@
                        <td data-title="Estado">
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        <td data-title="Cliente">
                            @Html.DisplayFor(modelItem => item.Cliente.nombres)
                        </td>
                        <td data-title="Empleado">
                            @Html.DisplayFor(modelItem => item.Empleado.nombres)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.id_visita">
                                    <span class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Details" asp-route-id="@item.id_visita">
                                    <span class="btn btn-sm btn-outline-dark">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.id_visita">
                                    <span class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div class="row">
        <div class="col-12">
            <partial name="_bottomBar" model="@pager" />
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("myModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');

        }

        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg) {
                openSuccessModal(msg);

            }

        });

    </script>
}