@model SGVisitasTecnicasASPCore.Models.empleados

@{
    ViewData["Title"] = "Eliminar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="text-center bg-danger">
    <h3>Usted está seguro de borrar este empleado?</h3>
</div>
<div>
    <h4 class="text-center text-primary">Eliminar Empleado</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <dl class="d-lg-table">
                    <dt>
                        Código
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.id_empleado)
                    </dd>
                    <dt>
                        Número de Documento
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.numero_documento)
                    </dd>
                    <dt>
                        Nombres y Apellidos
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.nombres)
                    </dd>
                    <dt style="display:none;">
                        Apellidos
                    </dt>
                    <dd style="display:none;">
                        @Html.DisplayFor(model => model.apellidos)
                    </dd>
                    <dt>
                        Fecha de Registro
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.fecha_registro)
                    </dd>
                    <dt>
                        Fecha de Actualización
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.fecha_actualizacion)
                    </dd>
                    <dt>
                        Activo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.es_activo)
                    </dd>
                    <dt>
                        Email
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>
                    <dt>
                        Teléfono
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.telefono)
                    </dd>
                    <dt>
                        Password
                    </dt>
                    <dd>
                        @{
                            string pwd = SGVisitasTecnicasASPCore.Data.Utils.Mask(Model.password, '*', 3, SGVisitasTecnicasASPCore.Data.Utils.MaskStyle.All);
                        }
                        @Html.DisplayFor(model => pwd)
                    </dd>
                    <dt>
                        Perfil
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.perfil)
                    </dd>
                    <dt>
                        Cargo
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.cargo)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <div class="row">
                        <div class="col text-center">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                        <div class="col text-center">
                            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                        </div>
                    </div>
                    @*<div class="w-100">
                <div class="col-sm-12 col-md-12 text-center form-group">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </div>*@
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}