@model SGVisitasTecnicasASPCore.Models.empleados

@{
    ViewData["Title"] = "SGVT - Detalles del Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Detalles del Empleado</title>
</head>
<body>
    <div>
        <h4 class="text-center text-primary">Detalles del Empleado</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                    <div class="table-responsive">
                        <dl class="d-lg-table">
                            <dt>
                                @Html.DisplayNameFor(model => model.numero_documento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.numero_documento)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.nombres)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nombres)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.apellidos)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.apellidos)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fecha_registro)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fecha_registro)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.es_activo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.es_activo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.telefono)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.telefono)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.password)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.password)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.perfil)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.perfil)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.cargo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cargo)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.id_empleado }, new { @class = "btn btn-primary" })
                </div>
                <div class="col text-center">
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
